/* https://openclipart.org/detail/276600/parachute-silhouette-2 */
.skydive-p-round:before { content: "\0000a0"; }
.skydive-p-round {
  background-image: url("https://openclipart.org/download/276600/Parachute-Silhouette-2.svg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
/* https://openclipart.org/detail/260577/parachuting-man-silhouette */
.skydive-p-ramair:before { content: "\0000a0"; }
.skydive-p-ramair {
  background-image: url("https://openclipart.org/download/260577/Parachuting-Man-Silhouette.svg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.skydive-p-tandem:before { content: "\0000a0 \0000a0"; }
.skydive-p-tandem {
  background-image: url("../img/icons/skydive-p-tandem.svg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
